<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gisbert.it.pedidos">
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".actividad.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.PRINCIPAL_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.ServicesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SERVICE_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.EquipoListActivity"
            android:label="Equipos" >
            <intent-filter>
                <action android:name="android.intent.action.EQUIPO_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.EquipoDetalleActivity"
            android:label="EquipoDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.EQUIPO_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.ClienteListActivity"
            android:label="Cliente" >
            <intent-filter>
                <action android:name="android.intent.action.CLIENTE_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.OrdenServicioListActivity"
            android:label="OrdenServicio" >
            <intent-filter>
                <action android:name="android.intent.action.ORDENSERVICIO_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.OrdenServicioBusListActivity"
            android:label="OrdenServicio" >
            <intent-filter>
                <action android:name="android.intent.action.ORDENSERVICIO_BUS_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.OrdenDetalleActivity"
            android:label="RepuestoDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.ORDEN_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.ClienteDetalleActivity"
            android:label="ClienteDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.CLIENTE_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.TecnicoDetalleActivity"
            android:label="TecnicoDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.TECNICO_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.TecnicoListActivity"
            android:label="Tecnico" >
            <intent-filter>
                <action android:name="android.intent.action.TECNICO_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.RepuestoDetalleActivity"
            android:label="RepuestoDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.REPUESTO_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.RepuestoListActivity"
            android:label="Repuesto" >
            <intent-filter>
                <action android:name="android.intent.action.REPUESTO_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actividad.ReparacionDetalleActivity"
            android:label="RepuestoDetalle" >
            <intent-filter>
                <action android:name="android.intent.action.REPARACION_DETALLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividad.ReparacionBusListActivity"
            android:label="Repuesto" >
            <intent-filter>
                <action android:name="android.intent.action.REPARACION_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
