<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gisbert.it.pedidos">
<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
<uses-permission android:name="android.permission.INTERNET" />
<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name=".actividad.MainActivity" android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".actividad.SettingsActivity" android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.SETTINGS" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".actividad.PrincipalActivity" android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.PRINCIPAL_LIST" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoListActivity" android:label="OrdenServicio">
        <intent-filter>
            <action android:name="android.intent.action.PEDIDOS_LIST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoFinalizadosListActivity" android:label="OrdenServicio">
        <intent-filter>
            <action android:name="android.intent.action.PEDIDOS_FINALIZADOS_LIST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoItemListActivity" android:label="OrdenServicio">
        <intent-filter>
            <action android:name="android.intent.action.PEDIDO_ITEMS_LIST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoDetalleEstadoActivity" android:label="DetallePedido">
        <intent-filter>
            <action android:name="android.intent.action.ESTADO_PEDIDO" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoDetalleActivity" android:label="RepuestoDetalle">
        <intent-filter>
            <action android:name="android.intent.action.PEDIDO_DETALLE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoItemDetalleActivity" android:label="RepuestoDetalle">
        <intent-filter>
            <action android:name="android.intent.action.PEDIDO_ITEM_DETALLE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.PedidoItemEditEstado" android:label="RepuestoDetalle">
        <intent-filter>
            <action android:name="android.intent.action.EDITAR_ESTADO" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name=".actividad.RutasListActivity" android:label="RepuestoDetalle">
        <intent-filter>
            <action android:name="android.intent.action.RUTAS_LIST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".actividad.VendedoresList" android:label="FiltrarPedido">
        <intent-filter>
            <action android:name="android.intent.action.FILTRAR_PEDIDO_VENDEDOR" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <activity android:name=".actividad.PedidoListFiltradoActivity" android:label="MostrarPedidosFiltrados">
        <intent-filter>
            <action android:name="android.intent.action.MOSTRAR_PEDIDOS_VENDEDOR" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
</application>
</manifest>
